@use "./partials/variables.scss" as *;
.footer {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.556em;
  color: white;

  .principale {
    background-color: $marrone;
    padding: 100px 0 100px 0;

    .container {
      .row {
        .col-3 {
          ul {
            list-style: none;
            li {
              margin: 5px 0;
              font-size: small;
              color: $grigino;

              h5 {
                color: white;
              }

              h5::after {
                content: "";
                display: block;
                width: 35px;
                height: 1px;
                margin-top: 20px;
                background-color: $arancione;
              }

              .social {
                background-color: white;
                color: black;
                border-radius: 50%;
                width: 25px;
                height: 25px;
                text-align: center;
                padding-top: 6px;
                margin-right: 10px;

                &:hover {
                  background-color: $arancione;
                  transition: all 0.3s ease-in-out;
                }
              }

              a {
                color: rgb(150, 150, 150);
                &:hover {
                  color: white;
                }

                i {
                  color: $arancione;
                  margin-right: 5px;
                }
              }

              input,
              button {
                background: none;
                border: none;
                color: white;
                margin-top: 20px;
                border-bottom: 1px solid white;
              }
            }
          }
        }
      }
    }
  }

  .finale {
    text-align: center;
    background-color: rgb(255, 70, 18);
    padding: 5px 0;
    a {
      font-size: 10px;
      font-weight: lighter;
      letter-spacing: 0.3px;
      color: white;
    }
  }
}
