@use "./partials/variables.scss" as *;
.container {
  .row {
    align-items: center;

    .col-12 {
      text-align: center;

      h2 {
        font-size: xxx-large;
        span {
          color: $arancione;
          margin-left: -10px;
        }
      }
      p {
        color: $grigino;
      }
      .line {
        background-color: $arancione;
        width: 60px;
        height: 2px;
        margin: 30px auto;
      }
    }
  }
}
