@use "./partials/variables.scss" as *;
.image {
  background-image: url("../public/img/contact-us-img-02.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 100px;
}

.row {
  justify-content: end;

  .col-5 {
    position: relative;
    right: 0;
    margin: auto 0;
    background-color: $arancione;
    padding: 70px 60px;
    color: white;

    h2 {
      font-size: xxx-large;
    }

    form {
      div {
        margin: 18px 0;
        input,
        textarea {
          color: white;
          background: none;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid white;
          font-size: small;
        }

        textarea {
          height: 100px;
          scrollbar-width: none;
        }

        input::placeholder,
        textarea::placeholder {
          color: white;
          font-size: small;
        }
      }

      button {
        color: white;
        padding: 15px 30px;
        border: 1px solid white;
        border-radius: 0;
        margin-top: 50px;

        &:hover > span {
          margin-right: 10px;
          transition: 0.5s;
        }

        &:hover > i {
          margin-right: 20px;
          transition: 0.5s;
        }

        span {
          margin-right: 30px;
        }
      }
    }
  }
}
